asttokens
attrs
cffi
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
fastjsonschema
fonttools
gitdb
GitPython
ipykernel
ipynbname
ipython
jedi
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nbformat
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
referencing
rpds-py
six
smmap
stack-data
termcolor
tornado
traitlets
typing_extensions
tzdata
wcwidth
